<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-item class="img">
        <img src="https://i.imgur.com/mC8r1qk.jpg" alt="">
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-input class="mid" placeholder="Chứng minh nhân dân"></ion-input>
      <ion-item class="bot">
      <ion-button>ĐĂNG NHẬP</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
