body
{
    margin: 0;
    padding: 0;
}
.top
{
    height: 250px;
    width: 100%;
    background-color: orange;
    border-radius: 20px;

}
.img
{
    margin: auto;
    height: 100%;
    width: 100%;
}
.mid
{
    margin-top: 80px;
}
.bot
{
    padding-top: 100px;
}
ion-button
{
    font-size: 17px;
    height: 50px;
    width: 400px;
    border-color: orange;
    --background: white;
    --color: orange;
    --border-radius: 10px;
    --border-width: 2px;
}
